.pagina {
    background-color: #f2f2f2;
    padding: 2%;
   
}

.titulo {
    font-size: 50px;
}

.categoria {
    font-weight: 100
}

.preço {
    font-size: 40px;
}

.info {
    font-size: 20px;
    display: flex;
   align-items: center;

}
.desc {
    padding: 50px;
    display: block;
}

.avaliação {
    font-size: 30px;
}